@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

#root{
  font-family: 'Russo One', sans-serif;
}

.textLogo {
  color: rgb(0, 98, 255) !important;
}

.title {
  color: rgb(0, 98, 255) !important;
  font-size: 5em;
}

.titleHome {
  color: rgb(0, 98, 255) !important;
  font-size: 3em;
}

.offcanvas-title {
  color: white;
  font-size: 5em;
}

.navbar {
  height: 60px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  background-color: rgb(0, 98, 255) !important;
  font-family: 'Russo One', sans-serif;
}

.offcanvas-body,
.offcanvas-header {
  background-color: rgb(0, 98, 255);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .6);
  border: none !important;
  font-family: 'Russo One', sans-serif;

}

.ticketTitle {
  margin-top: 100px !important;
}

.air {
  position: absolute;
  right: 100%;
  animation: air 10s ease-in-out infinite;
}

@keyframes air {
  to {
    right: -100px;
  }
}

.opening-page {
  position: relative;
  height: 100vh;
  background-color: #f2f2f2;
  /* Colore di sfondo desiderato */
}

.logo-image {
  position: absolute;
  top: 25%;
  left: 33%;
  transform: translate(-50%, -50%);
  width: 500px;


}

.air {
  filter: brightness(0) invert(1);
}

.video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  /* Imposta l'aspect ratio del video (16:9) */

}

.video-container-no-controls iframe {
  pointer-events: none;
}

.video-container-no-controls iframe::-webkit-media-controls {
  display: none !important;
}

.video-container-no-controls iframe::-webkit-media-controls-enclosure {
  display: none !important;
}


.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}

div.carousel-indicators {
  display: none;
}


.tratteCard {
  box-shadow: 0 10px 20px rgba(0, 0, 0, .6);
  border: none !important;
  cursor: pointer;
}



/*DATOGLIER*/


.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: white;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  border: 3px solid rgb(0, 98, 255);

}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: rgb(0, 98, 255);
  margin-bottom: 30px;
  border: none;
  border-bottom: 3px solid rgb(0, 98, 255);
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: rgb(0, 98, 255);
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
  top: -20px;
  left: 0;
  color: rgb(0, 98, 255);
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  overflow: hidden;
}

.login-box a span {
  position: absolute;
  display: block;
}



.modale-prenotazione {
  background-color: #4242428f !important;
  backdrop-filter: blur(10px);
  font-family: 'Russo One', sans-serif;
}

.corpo-modale {
  border-radius: none !important;
  border: 3px solid rgb(0, 98, 255);
  outline: none !important;


}

.form-modale {
  border: 2px solid rgb(0, 98, 255) !important;

}

select.form-modale {
  border: 2px solid rgb(0, 98, 255);
  border-radius: 0px !important;

}

.data-scadenza {
  height: 40px;
}


.instagram-active:hover {
  background-image: linear-gradient(to right, #fa7e1e, #d62976, #962fbf, #4f5bd5);
  background-size: 200% auto;
}



.list-home {
  box-shadow: 0 10px 20px rgba(0, 0, 0, .6);
  font-family: 'Russo One', sans-serif;
  border: 1px solid rgba(0, 0, 0, 0.393) !important;
}

.text-list:hover {
  background-color: linear-gradient(to right, #fa7e1e, #d62976, #962fbf, #4f5bd5);
}

.carousel-home {
  box-shadow: 0 10px 20px rgba(0, 0, 0, .6);
}

.ticket-value {
  font-family: 'Russo One', sans-serif;
}

.ticket {
  box-shadow: 0 10px 20px rgba(0, 0, 0, .6);
  border: 5px solid rgb(0, 98, 255);

}

.lista-offerte {
  font-family: 'Russo One', sans-serif;
}

.offerte {
  border: 5px solid rgb(0, 98, 255) !important;
  border-radius: 0% !important;

}


@media screen and (max-width: 720px) {

  .d-flex.justify-content-center.tratte-future {
    display: block !important;
    position: relative !important;
    right: 50px !important;
    box-shadow: none !important;
  }

  .aggiornamento {
    width: 100% !important;
    margin-right: 20px !important;
  }

  .navbar {
    height: 100px !important;
  }

  .canvas {
    width: 100% !important;
  }

  h1, h2 {
    font-size: 1.5em !important;
  }

  h2 {
    margin: none !important;
    padding: none !important;
  }

}

@media screen and (min-width: 721px) {
  .footer-mobile {
    display: none;
  }
}